@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "DM Sans";
    src: url(../Fonts/DM_Sans/DMSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}